{% embed 'partials/base.html.twig' %}

    {% set collection = page.collection %}
    {% set pagination = collection.params.pagination %}

    {% block javascripts %}
        {{ parent() }}
        {% do assets.addInlineJs(jscroll_init) %}
    {% endblock %}

    {% block header %}
        {% if theme_config.home_profile %}
            {% include 'partials/profile.html.twig' %}
        {% else %}
            {{ parent() }}
        {% endif %}
    {% endblock %}

    {% block content %}
      <div class="infinite-scroll columns small-12 large-8" style="margin:auto">
        {% for post in collection %}
          {% include 'partials/post-item.html.twig' %}
        {% endfor %}
        {% if config.plugins.pagination.enabled and collection.params.pagination %}
            {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
        {% endif %}
      </div>



      <div class="sidebar columns large-4 show-for-large">
        <div class="sidebar--inner">
          {% include 'partials/sidebar.html.twig' with {'blog':page} %}
        </div>
      </div>


    {% endblock %}

{% endembed %}
