<div class="row">
  <div class="columns profile">
      <div class="columns small-8">
            <h1>{{ site.author.name }}</h1>
          <p>{{ site.metadata.description }}</p>
        </div>
        <div class="columns small-4">
              <img class="profile--avatar" src="../user/accounts/avatar.jpg">
        </div>
        <div class="columns small-12">
          <a href="https://www.linkedin.com/in/bilgon32/" target="_blank">
            <button class="button default hollow">
              <i class="fa fa-linkedin" target="_blank"></i> LinkedIn
            </button>
          </a>
          <a href="https://github.com/bilgon32/" target="_blank">
            <button class="button default hollow">
              <i class="fa fa-github" target="_blank"></i> GitHub
            </button>
          </a>
          <a href="https://twitter.com/bilgon32" target="_blank">
            <button class="button default hollow">
              <i class="fa fa-twitter" target="_blank"></i> Twitter
            </button>
          </a>
          <a href="https://www.flickr.com/people/156029325@N03/" target="_blank">
            <button class="button default hollow">
              <i class="fa fa-flickr" target="_blank"></i> Flickr
            </button>
          </a>
          <a href="https://soundcloud.com/bilgon32" target="_blank">
            <button class="button default hollow">
              <i class="fa fa-soundcloud" target="_blank"></i> SoundCloud
            </button>
          </a>
      </div>

  </div>
</div>
